h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0;
  font-family: 'Lato', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	background-color: #2b2d42;
	color: #f8f8f2;
}

header {
	background-color: #1f1f1f;
	color: #f8f8f2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

header img {
	height: 50px;
	margin-right: 20px;
}

nav {
	display: flex;
	align-items: center;
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #f8f8f2;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	background-color: #1f1f1f;
}

nav a:hover {
	background-color: #f8f8f2;
	color: #1f1f1f;
}

.game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #f8f8f2;
}

.game-box {
	margin-top: 30px;
	border: 2px solid #000000;
	background-color: #fff;
	width: 500px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.game {
	display: flex;
	justify-content: center;
	align-items: center;
}

.game button {
	padding: 10px;
	font-size: 20px;
	margin: 0 10px;
	background-color: #1f1f1f;
	color: #f8f8f2;
	border: none;
	border-radius: 5px;
}

.game button:hover {
	background-color: #f8f8f2;
	color: #1f1f1f;
}

.rock {
	padding: 10px 20px;
	margin: 20px;
	font-size: 1.2rem;
	border: none;
	border-radius: 5px;
	background : url(Pierre.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;
	color: white;
	cursor: pointer;

}

.paper {
	padding: 10px 20px;
	margin: 20px;
	font-size: 1.2rem;
	border: none;
	border-radius: 5px;
	background : url(Feuille.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;
	color: white;
	cursor: pointer;
}

.scissors {
	padding: 10px 20px;
	margin: 20px;
	font-size: 1.2rem;
	border: none;
	border-radius: 5px;
	background : url(Ciseaux.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;
	color: white;
	cursor: pointer;
}

.result-container {
	margin-top: 20px;
	width: 500px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #000000;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.result-container p {
	margin: 0;
	font-size: 24px;
	font-weight: bold;
	color: #1f1f1f;
}
